.center .slick-prev,
.center .slick-next {
  position: absolute;
  top: 40%;
  z-index: 1;
}

.center {
  position: relative;
}

.center .slick-prev {
  left: -8%;
  @media screen and (max-width: 768px) {
    left: 6%;
  }
  @media screen and (max-width: 768px) {
    visibility: hidden;
  }
}

.center .slick-next {
  right: -5%;
  @media screen and (max-width: 768px) {
    right: 6%;
  }
  @media screen and (max-width: 768px) {
    visibility: hidden;
  }
}

.center .slick-prev:before,
.center .slick-next:before {
  content: "" !important;
}

// DOTS

.button__bar {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  border-radius: 40px;
  width: 100%;
  text-align: center;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}

.button__bar li button {
  border: none;
  color: transparent;
  background-color: white;
  border: 1px solid #b32125;
  cursor: pointer;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 100%;
}

.button__bar li.slick-active button {
  background-color: #b32125;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: #b32125;
  outline: 0;
}

.streamer {
  width: 60%;
  margin: 64px auto 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
  h4 {
    font-size: 16px;
    font-weight: 500;
    color: #b32125;
    text-align: center;
    margin: 0 8px 0 0;
  }

  .streamer-title {
    @media screen and (max-width: 768px) {
      margin: 64px 3% 0 3%;
    }
  }

  .button__bar {
    margin-top: 24px;
  }

  .streamer-card {
    padding: 20px;
    margin-right: 5px;
  }

  .streamer-img {
    width: 100%;
    @media screen and (max-width: 768px) {
      width: 100vw;
    }
  }
}

.streamer-arrow {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 3px 1px 4px 1px #888888;
}

#event {
  margin-top: 144px;
}
