.footer-item-container {
  background-color: #363636;
  padding: 30px;

  .li-title {
    font-weight: 700;
    margin-bottom: 8px;
  }

  li {
    color: white;
    list-style-type: none;
    h5 {
      opacity: 60%;
      color: white;
      margin-bottom: 4px;
      &:hover {
        opacity: 100%;
        cursor: pointer;
      }
    }
  }
}
