.footer-item-container {
  background-color: #363636;
  padding: 30px;
}

.li-title {
  font-weight: 700;
  margin-bottom: 8px;

  li {
    list-style-type: none;
    color: white;
    opacity: 100%;
  }
}

.li-item {
  li {
    color: white;
    list-style-type: none;
    font-size: 14px;
    opacity: 60%;
    margin-bottom: 4px;
    font-weight: 400;

    &:hover {
      opacity: 100%;
      cursor: pointer;
    }
  }
}
